@font-face {
  font-family: 'FiraCode-Retina', 'ResourceHanRoundedCN-Normal';
  src: url('FiraCode-Retina.ttf');
  src: url('ResourceHanRoundedCN-Normal.ttf');
  font-weight: normal;
  font-style: normal;
}
