//NOTICE: sidebar重绘
.b-sidebar {
  .sidebar-content {
    width: 300px;
  }
}

.level:not(:last-child) {
  margin: 0rem;
}

.tags:not(:last-child) {
  margin-bottom: 0.1rem;
}

.title:not(:last-child) {
  margin: 0rem;
}
.box:not(:last-child) {
  margin-bottom: 0.25rem;
}

.box {
  margin: 0.25rem;
}

.notification a:not(.button):not(.dropdown-item) {
  text-decoration: none;
}
